[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ vector_current_dir }}/bin/vector --config {{ vector_config_path }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
